<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinaredstar.recruit.mapper.PushDataLogMapper">
    <resultMap id="BaseResultMap" type="com.chinaredstar.recruit.api.model.PushDataLog">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="EmployeeId" property="employeeid" jdbcType="VARCHAR"/>
        <result column="ResumeId" property="resumeid" jdbcType="VARCHAR"/>
        <result column="Type" property="type" jdbcType="INTEGER"/>
        <result column="ResultMessage" property="resultmessage" jdbcType="VARCHAR"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.chinaredstar.recruit.api.model.PushDataLog" extends="BaseResultMap">
        <result column="Content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, EmployeeId, ResumeId, Type, ResultMessage, CreateTime
  </sql>
    <sql id="Blob_Column_List">
    Content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from push_data_log
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from push_data_log
    where Id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.chinaredstar.recruit.api.model.PushDataLog">
    insert into push_data_log (Id, EmployeeId, ResumeId, 
      Type, ResultMessage, CreateTime, 
      Content)
    values (#{id,jdbcType=INTEGER}, #{employeeid,jdbcType=VARCHAR}, #{resumeid,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{resultmessage,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.chinaredstar.recruit.api.model.PushDataLog">
        insert into push_data_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="employeeid != null">
                EmployeeId,
            </if>
            <if test="resumeid != null">
                ResumeId,
            </if>
            <if test="type != null">
                Type,
            </if>
            <if test="resultmessage != null">
                ResultMessage,
            </if>
            <if test="createtime != null">
                CreateTime,
            </if>
            <if test="content != null">
                Content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="employeeid != null">
                #{employeeid,jdbcType=VARCHAR},
            </if>
            <if test="resumeid != null">
                #{resumeid,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="resultmessage != null">
                #{resultmessage,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chinaredstar.recruit.api.model.PushDataLog">
        update push_data_log
        <set>
            <if test="employeeid != null">
                EmployeeId = #{employeeid,jdbcType=VARCHAR},
            </if>
            <if test="resumeid != null">
                ResumeId = #{resumeid,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                Type = #{type,jdbcType=INTEGER},
            </if>
            <if test="resultmessage != null">
                ResultMessage = #{resultmessage,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                CreateTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                Content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chinaredstar.recruit.api.model.PushDataLog">
    update push_data_log
    set EmployeeId = #{employeeid,jdbcType=VARCHAR},
      ResumeId = #{resumeid,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      ResultMessage = #{resultmessage,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Content = #{content,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.chinaredstar.recruit.api.model.PushDataLog">
    update push_data_log
    set EmployeeId = #{employeeid,jdbcType=VARCHAR},
      ResumeId = #{resumeid,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      ResultMessage = #{resultmessage,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>